/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/*
 * Family: Roboto Mono
 */
@font-face {
    src: url('fonts/roboto/RobotoMono-Regular.ttf');
}

/*
 * Family: Roboto Mono Italic
 */
@font-face {
    src: url('fonts/roboto/RobotoMono-Italic.ttf');
}

/*
 * Family: Roboto Bold
 */
@font-face {
    src: url('fonts/roboto/Roboto-Bold.ttf');
}

/*
 * Family: Roboto
 */
@font-face {
    src: url('fonts/roboto/Roboto-Regular.ttf');
}

/*
 * Family: Roboto Italic
 */
@font-face {
  src: url('fonts/roboto/Roboto-Italic.ttf');
}

.root {
  -fx-font-family: 'Roboto';
}

.font-04
{ -fx-font-size: 0.4em; }
.font-06
{ -fx-font-size: 0.6em; }
.font-08
{ -fx-font-size: 0.8em; }
.font-10
{ -fx-font-size: 1em; }
.font-12
{ -fx-font-size: 1.2em; }
.font-14
{ -fx-font-size: 1.4em; }
.font-16, .credits-name
{ -fx-font-size: 1.6em; }
.font-18
{ -fx-font-size: 1.8em; }
.font-20
{ -fx-font-size: 2em; }
.font-22
{ -fx-font-size: 2.2em; }
.font-24
{ -fx-font-size: 2.4em; }
.font-26
{ -fx-font-size: 2.6em; }
.font-28
{ -fx-font-size: 2.8em; }
.font-30
{ -fx-font-size: 3em; }
.font-32
{ -fx-font-size: 3.2em; }

.bold {
  -fx-font-family: 'Roboto Bold';
}

/*
 * Tab Pane Global
 */

.tab-pane {
    -fx-focus-color: transparent
}

.tab-header-area > .headers-region {
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.tab-pane *.tab-header-background {
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
}

.tab-close-button:hover {
  -fx-background-color:red;
  -fx-scale-y: 1.03;
    -fx-scale-x: 1.03;
}

.tab {
    -fx-background-insets: 0 1 0 1;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #e6e6e6;
    -fx-tab-min-height: 18px;
    -fx-padding: 0 6 4 6;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #595959;
    -fx-font-size: 1.05em;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.tab:selected {
  -fx-background-color: #a3a3a3;
}

.tab-pane > *.tab-header-area > *.tab-header-background {
   -fx-background-color: -fx-outer-border, -fx-text-box-border, white;
}

.component-pane .table-view > .column-header-background > .nested-column-header > .column-header  {
  -fx-border-style: solid none none none;
  -fx-border-color: #e6e6e6;
}

.table-view > .column-header-background > .filler {
  -fx-border-style: solid none none none;
  -fx-border-color: #e6e6e6;
}

/*
 * Image Button
 */
.image-button, .image-button-hover {
  -fx-border-style: none;
  -fx-background-color: transparent;

}

.image-button-hover:hover {
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
}

#error {
    -fx-background-color: #ff4444;
}

#connection-error {
    -fx-text-fill: #ff4444;
}

#success {
	-fx-text-fill: #4CAF50;
}

/*
 * Database Wizard Header / Footer
 */
.headers-region {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-style: hidden hidden solid hidden;
}

.headers-text {
    -fx-font-family: 'Roboto';
    -fx-font-size: 3em;
}

.footer-region {
    -fx-border-color: black;
    -fx-border-style: solid hidden hidden hidden;
}

/*
 * Dropshadow Styled Button
 */
.dropshadow-button {
    -fx-padding: 5 10 10 10;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 4;
    -fx-background-color:
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-family: 'Roboto';
}

.dropshadow-button:hover {
    -fx-scale-y: 1.01;
    -fx-scale-x: 1.01;
    -fx-background-color:
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 20%, #d9d9d9 40%, #d6d6d6 60%),
        linear-gradient(#dddddd 20%, #f6f6f6 70%);
}

/*
 * Special more wider text field
 */
.dqgui-textfield, .dqgui-textfield-no-hover {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-font-size: 1.2em;
    -fx-padding: 6 12 6 12;
}

.dqgui-textfield:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,184,255, 1), 25, 0, 0, 0);
}

/*
 * Syntax
 */
.keyword {
    -fx-fill: blue;
}

.keywordred {
    -fx-fill: red;
}

.string {
    -fx-fill: #ff8000;
}

.comment {
    -fx-fill: green;
}

.syntaxError, .editorWarning {
  -rtfx-underline-dash-array: 2 2;
  -rtfx-underline-width: 3;
  -rtfx-underline-cap: butt;
}

.syntaxError {
   -rtfx-underline-color: red;
}

.editorWarning {
	-rtfx-underline-color: orange;
}

.code-area {
  -fx-font-family: 'Roboto Mono';
  -fx-font-size: 1.4em;
}

.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}

/*
 * Exception dialog
 */
.exception-dialog-header {
  -fx-border-width: 0 0 1 0;
    -fx-border-color: #A9A9A9;
    -fx-border-style: solid;
    -fx-background-color: linear-gradient(#F3F3F3, derive(#F3F3F3, 30%));
}

.exception-dialog-stacktrace {
    -fx-font-family: 'Roboto Mono';
    -fx-font-size: 1.1em;
}

.exception-dialog-header {
    -fx-font-family: 'Roboto Bold';
    -fx-font-size: 2.6em;
}

/*
 * Notifications
 */
.custom-notification-base {
    -fx-background-color: transparent;
}

/*
 * RServe
 */
#rserve-offline {
    -fx-text-fill: #ff4444;
}

#rserve-online {
    -fx-text-fill: #007E33;
}

.rserve-location {
    -fx-focus-color: transparent;
}

.rserve-status {
    -fx-font-family: 'Roboto Bold';
    -fx-font-size: 2em;
}

.rserve-autostart {
    -fx-font-family: 'Roboto';
    -fx-font-size: 1.6em;
}

.rserve-text-area {
    -fx-border-radius: 5;
    -fx-font-family: 'Roboto Mono';
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-background-color: white;
}

.rserve-text-area .content {
    -fx-background-color: black;
}

/*
 * About
 */
.credits-name {
  -fx-font-family: 'Roboto Italic';
}

/*
 * Focus disable
 */
.scroll-pane:focused,
.split-pane:focused,
.tree-view:focused,
.table-view:focused,
.tree-table-view:focused,
.html-editor:focused,
.report-list:focused {
  -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.focus-fix-main:focused,
.issue-table:focused {
  -fx-padding: 0;
}

.tree-view-main-fix {
  -fx-padding: 0;
}

/*
 * Report TreeView
 */

.reports .tree-cell {
  -fx-indent: 0;
  -fx-text-fill: #595959;
}

.reports .tree-cell:selected {
  -fx-background-color: #e6e6e6;
}

/*
 * Execution Issue Data
 */

 .dataNestedLabel {
 	  -fx-text-fill: red;
 }

 .dataNestedLabelBlack {
 	-fx-text-fill: black;
 }

 .issue-table .table-cell {
	-fx-border-color: transparent #bbbbbb #bbbbbb transparent;
 }

.issue-table .table-row-cell:filled:focused:selected {
	-fx-text-fill: black;
}

.issue-table .table-row-cell:selected:even {
  -fx-background-color: white;
  -fx-text-fill: black;
 }

 .issue-table .table-row-cell:selected:odd {
  -fx-background-color: -fx-control-inner-background-alt;
  -fx-text-fill: black;
 }

.dataView:focused {
  -fx-background-color: #bbbbbb;

}

.dataView .list-cell:even {
	  -fx-background-color: white;
}

.dataView .list-cell:odd {
	  -fx-background-color: white;
}

.dataView:selected {
	-fx-padding: 0;
}

.dataView .list-cell:filled:selected:even {
  -fx-background-color: white;
  -fx-text-fill: black;
}

.dataView:focused .list-cell:filled:selected:even {
  -fx-background-color: white;
  -fx-text-fill: black;
}

.dataView .list-cell:filled:selected:odd {
  -fx-background-color: white;
  -fx-text-fill: black;
}

.dataView:focused .list-cell:filled:selected:odd {
  -fx-background-color: white;
  -fx-text-fill: black;
}

.issue-table .table-row-cell:filled:focused:selected{
-fx-text-fill: black;
}

.issue-table .table-row-cell:filled:selected > .table-cell {
-fx-text-fill: black;
}

.issue-table .table-row-cell:filled:selected {
-fx-text-fill: black;
}

.table-cell .coltext {
    -fx-fill: black;
}

.table-view:focused .table-row-cell:selected .coltext {
    -fx-fill: white;
}

.table-row-cell:filled .coltext {
    -fx-fill: black;
}

.editor-link {
	-fx-font-family: 'Roboto Mono Italic';
	-fx-underline: true;
}

.editor-info-tooltip {
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-padding: 5;
	-fx-font-size: 1.2em;
}

.search-highlight, .search-highlight-selected {
	-rtfx-background-color: #f8f4eb;
	-fx-font-family: 'Roboto Mono Italic';
	-rtfx-border-stroke-width: 1;
	-rtfx-border-stroke-type: inside;
}

.search-highlight {
	-rtfx-border-stroke-color: orange;
}

.search-highlight-selected {
	-rtfx-border-stroke-color: red;
}

.metadatalistcell-sublabel {
	-fx-font-size: 1.2em;
	-fx-font-family: 'Roboto Italic';
}

.license-link {
	-fx-font-size: 1.8em;
}

.license-text {
	-fx-font-size: 1.4em;
	-fx-font-family: 'Arial';
	-fx-text-alignment: justify;
}

.log-export-import-db {
  -fx-font-family: 'Roboto Mono';
  -fx-font-size: 1.2em;
}

.log-export-import-db-fail {
	-fx-fill: red;
}

.log-export-import-db-success {
	-fx-fill: darkgreen;
}

.identifier-display-table {
	-fx-font-size: 1.1em;
}

.identifier-display-table .column-header{
    -fx-font-size: 1.2em;
    -fx-padding: 2 5 2 5;
}