body {
    font-weight: 300;
    font-size: 120%;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
}

li {
    line-height: 1.5 !important;
}

pre, code {
    border: none;
    border-radius: 0;
    background-color: #f9f9f9;
    font-size: 0.85em;
}

pre {
    font-size: 1em;
}

code {
    color: inherit;
}

pre code {
    padding: 1em;
    display: block;
}

#header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

#header .brand {
    margin-right: 1em;
}

#header #search {
    text-align: right;
}

#header #search form {
    margin: 10px 0 0;
}

#header a:hover {
    text-decoration: none;
}

#footer {
    margin: 20px 0;
    font-size: 0.85em;
    color: #999;
    text-align: center;
}

#content > .page-header:first-child {
    margin-top: 0;
}

#content > .page-header:first-child h2 {
    margin-top: 0;
}


#navigation {
    font-size: 0.8em;
}

#navigation li a {
    padding-left: 10px;
    padding-right: 10px;
}

#navigation .nav-header {
    padding-left: 0;
    padding-right: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: initial;
  }
  
tr:nth-child(even){background-color: #f2f2f2;}
  
tr:hover {background-color: #ddd;}
  
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #005580;
    color: white;
  }

.highlighter-rouge {
      font-size: 1em;
  }

 .highlight {
      padding: 0;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 21px;
}

.highlight > code {
      padding: 0;
      background-color: white;
  }

.code > pre, .lineno {
    background-color: white;
}

.code, .gutter {
    border: none;
    background-color: white;
}

.highlight > table:hover, .gutter:hover {
    background-color: white;
}

.code:hover {
    background-color: white;
}